{% import 'components/team-member.html' as team %}
<section id="team" class="py-5 teal lighten-4">
    <div class="container">
        <section class="text-center text-lg-left">
            <div class="text-white pb-4">
                <h2 class="text-center font-weight-bold mb-4 pb-1">Integrantes</h2>
                <hr class="w-header mt-4">
            </div>
            <div class="row">
                {{ team.member(
                "Isaac Miranda",
                "imiranda$@ucenfotec.ac.cr",
                "https://mdbootstrap.com/img/Photos/Avatars/img%20(22).jpg"
                ) }}
                {{ team.member(
                "Javier Pozuelo",
                "jpozuelo$@ucenfotec.ac.cr",
                "https://mdbootstrap.com/img/Photos/Avatars/img%20(22).jpg"
                ) }}
                {{ team.member(
                "Matthew Russell",
                "mrussello@ucenfotec.ac.cr",
                "https://mdbootstrap.com/img/Photos/Avatars/img%20(22).jpg"
                ) }}
                {{ team.member(
                "Sebastian Soto Madrigal",
                "ssotom@ucenfotec.ac.cr",
                "https://mdbootstrap.com/img/Photos/Avatars/img%20(22).jpg"
                ) }}
            </div>
        </section>
    </div>
</section>
