<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="mt-5 container h-100">
            <div class="jumbotron">
                <h1 class="display-4">Página #3</h1>
                <p class="lead">Esta es una pagina ejemplo para CenSisOper</p>
                <hr class="my-4">
                <p>Para regresar a la página de inicio, presione este botón</p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="./index.html" role="button">Inicio</a>
                </p>
            </div>
        </div>
        <script src="../js/popper.js"></script>
        <script src="../js/bootstrap.js"></script>
    </body>
</html>
